<h3>Available slots for <%= @date %></h3><br />
<div id="TeeSlotsForm">
<% @tee_slots_for_date.each do |k,v| %>                                        
  <div id="singleTeeSlotForm">
  <% if v >= 2 %>
  <% form_for 'reservation', :url => { :action => :reserveTime } do |t| %>
    <%= t.label :teetime, k %> has only
    <% t.label :slots, v %>
    <% @j = Array.new %>
    <% for i in 1..v %>
      <% @j << i %>
    <% end %>
    <%= t.select :golfers, @j, :selected => @j.last %> slots left
    <%= t.hidden_field :teeTime, :value => "#{k}" %>
    <%= t.hidden_field :teeSlots, :value => "#{v}" %>
    <%= t.hidden_field :date, :value => "#{@date}" %>

    <%= submit_tag 'Reserve' %><br />
  <% end %>
  <% end %>
  </div>
<% end %>
</div>
