<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-us" dir="ltr">
  <head>
  <meta charset="utf-8">


    <title>PressTee Course Manager</title>
    
    <link href="/stylesheets/uni-form.css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/demo.css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/default.uni-form.css" id="formStyle" title="Default Style" media="screen" rel="stylesheet"/>
<link href="/stylesheets/fullcalendar.css" id="formStyle" title="Default Style" media="screen" rel="stylesheet"/>


    <!--[if lte ie 7]>
      <style type="text/css" media="screen">
        /* Move these to your IE6/7 specific stylesheet if possible */
        .uniForm, .uniForm fieldset, .uniForm .ctrlHolder, .uniForm .formHint, .uniForm .buttonHolder, .uniForm .ctrlHolder ul{ zoom:1; }
      </style>
    <![endif]-->
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
				<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
    <script type="text/javascript" src="/javascripts/uni-form.jquery.js"></script>
<script type="text/javascript" src="/javascripts/fullcalendar.min.js"></script>


    <script type="text/javascript">
      $(function(){
        
        // init Uni-Form
        $('form.uniForm').uniform();
        
      });
	function add_manager(){
		var manager_email = $('#new_manager_input').val();
		var manager_type = $('#new_manager_type').val();
		$.post("/course/save/<%= @course.id.to_s %>",{email:manager_email,type:manager_type},function(data){
			
		})
	}
	function do_form_action(){
		var dat = {"save":current_save};
		var course = "<%= @course.id.to_s %>";
		if(course==""){
			course = "new";
		}
		if($(current_save).attr("action") == 'save' || $(current_save).attr("action") == 'settings'){
			
			$(current_save+" .saveable").each(function(){
				dat[$(this).attr("name")] = $(this).val();
			})
			$.post("/course/save/"+course,dat,function(data){
				window.location = "/course/edit/"+data;
			})
		}else if($(current_save).attr("action") == 'deals'){
			
		}

	}
var current_save = "#info";
$(document).ready(function(){
	
	$('li.browser').click(function(){
		$(current_tab).hide();
		current_save = $(this).attr("which");
		$($(this).attr("which")).show();
		current_tab = $(this).attr("which");
		$('li.browser').removeClass('active');
		$(this).addClass('active');
		
	});
	$('select').each(function(){
		if($(this).attr("selected")){
			$(this).val($(this).attr("selected"));
		}
	})
	$('button.primaryAction').unbind("click");
	$('.datepick').datepicker();
	
	$('div.tabber').click(function(){
		$('.tab_content').hide();
		$($(this).attr("show")).show();
		$('.tabactive').removeClass("tabactive").addClass("tabinactive");
		$(this).removeClass("tabinactive").addClass("tabactive");
		$('#calendar').fullCalendar('render');
		
	});
	$('#deal_type_select').change(function(){
		$('.deal_specs').hide();
		$('.'+$(this).val()).show();
	})
	
	$( "#slider" ).slider({
				value:30,
				min: 7,
				max: 365,
				range: "min",
				step: 1,
				slide: function( event, ui ) {
					$( "#a_days" ).html( ui.value );
				}
			});
			$( "#a_days" ).html( $( "#slider" ).slider( "value" ) );
			
			
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true});
	

	
})
var current_tab = "#info";
	function switchTab(which){
		$(current_tab).hide();
		$(which).show();
		current_tab = which;
	}
    </script>
<style type='text/css'>
.formHint img{
	width:80px;
	height:60px;
}
fieldset.inactive{
	display:none;
}
ul.browser li.active{
	background:#EFEFEF;
	margin-left:-28px;
	padding-left:12px;
	font-size:12pt;
}
span#a_days{
	font-weight:bold;
	color:#336699;
}
ul.browser li:hover{
	background:#EFEFEF;
	margin-left:-28px;
	padding-left:12px;
	cursor:pointer;
}
div.browse h2{
	background:#ccccff;
	margin-left:-28px;
	padding-left:12px;
	font-size:12pt;
}
div.browse{
	margin: 0;
	position: fixed;
	top: 109px;
	left: 814px;
	width: 84px;
	padding: 28px 28px 14px 28px;
	font-size: 12px;
	background: #97A2B0;


	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-top-left-radius:0px;	
	border-bottom-left-radius:0px;
}
.uniForm {
width: 740px;
background: white;
margin: 12px;
margin-top:20px;
padding: 28px;
border-radius: 12px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
-o-border-radius: 12px;
-khtml-border-radius: 12px;
}
div.tabber{
	display:inline-block;
	border:1px solid gray;
	border-bottom:1px solid white;
	margin-bottom:-1px;
	padding:4px;
	padding-left:8px;
	padding-right:8px;
	cursor:pointer;

}

div.tabinactive{
	border-bottom:1px solid gray;
	color:gray;
	
}
div.tabactive{
	font-weight:bold;
	color:#336699;
}
div.tabber:hover{
	color:#336699;
	background:#dddddd;
}
div.tab_holder{
	border-bottom:1px solid gray;
}
iframe.invisible_frame{
	border:0px;
	width:100%;
	padding:0;
	margin:0;
	
}
</style>
  </head>

  <body>
    
<div id='mainContent'>


    <form action="#" class="uniForm">
	
      
      <div class="header">
        <h2><% if @new_course %>Create New Course<% else %>Manage Course<% end %></h2>
        <p><a href="<%= @course_info['url'] %>"><%= @course_info['title'] %></a> <a href="/course/" class="cta">back to courses →</a></p>
      </div>

      <fieldset class="inlineLabels" action='save' id='info'>
	
		<div class='tab_holder'>
			<div class='tabber tabactive' show="#basic_settings"  id='basic_settings_tab'>Basic</div>
			<div class='tabber tabinactive' show="#media_settings"  id='media_settings_tab'>Media</div>
			<div class='tabber tabinactive' show="#technical_settings"  id='technical_settings_tab'>Technical</div>
		</div>
		
		<div class='tab_content' id='basic_settings'>
        
        <div class="ctrlHolder">
          <label for=""><em>*</em> Full Course Title</label>
          <input name="title" id="" data-default-value="Some Golf Course Title" size="35" maxlength="50" value="<%= @course_info['title'] %>" type="text" class="saveable textInput medium"/>
          <p class="formHint">Deep Cliff Golf Course</p>
        </div>

        <div class="ctrlHolder">
          <label for=""><em>*</em> Short Course Title</label>
          <input name="title_short" id="" data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course_info['title_short'] %>" type="text" class="saveable textInput small"/>
          <p class="formHint">Deep Cliff</p>
        </div>



        <div class="ctrlHolder">
          <p class="label">
            <em>*</em> Course Location
          </p>
          <ul class="alternate">
            <li><label for="">City <input name="city" id="" data-default-value="Cupertino" size="35" maxlength="50" value="<%= @course_info['address']['city'] %>" type="text" class="saveable textInput large"/></label></li>
            <li><label for="">State 
	<select selected="<%= @course_info['address']['state'] %>" class='saveable' name="state">
				<option value="<%= @course_info['address']['state'] %>"><%= @course_info['address']['state'] %></option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
	</select>
	</label></li>
            <li><label for="">Zip <input name="zip" id="" data-default-value="90703" size="35" maxlength="50" value="<%= @course_info['address']['zip'] %>" type="text" class="textInput large saveable"/</label></li>
          </ul>
        </div>

        <div class="ctrlHolder">
          <label for=""><em>*</em> Street Address</label>
          <input name="street" id="" data-default-value="Some Golf Course Title" size="35" maxlength="50" value="<%= @course_info['address']['street'] %>" type="text" class="saveable textInput medium"/>
          <p class="formHint">1600 Pennsylvania Ave</p>
        </div>
		

        
        <div class="ctrlHolder">
          <label for=""><em>*</em> Course Website URL</label>
          <input name="url" id="" data-default-value="" value="<%= @course_info['url'] %>" size="35" maxlength="50" type="text" class="saveable textInput medium"/>
          <p class="formHint">http://www.somegolfcourse.com/</p>
        </div>
		</div>
		
		<div id='media_settings' style='display:none' class='tab_content'>
		<div class="ctrlHolder">
          <label for="">Course Logo</label>
          <iframe src='http://project-eagle.appspot.com/photos/<%= @course.id.to_s %>/logo' class='invisible_frame iframeInput'></iframe>
        </div>

		<div class="ctrlHolder">
          <label for="">Image Gallery</label>
          <iframe src='http://project-eagle.appspot.com/photos/<%= @course.id.to_s %>/gallery' class='invisible_frame iframeInput'></iframe>
        </div>
		</div>
		
		<div id='technical_settings' style='display:none' class='tab_content'>

        <div class="ctrlHolder">
          <label for="">Tee Sheet API</label>
          <select name="api"  class="saveable selectInput">
            <option value="fore" <% if @course.api =='fore' %>SELECTED<%end%>>Fore Reservations</option>
			<option value="ezlinks" <% if @course.api =='ezlinks' %>SELECTED<%end%>>EZLinks</option>
			<option value="other" <% if @course.api =='other' %>SELECTED<%end%>>Other</option>
          </select>
        </div>

        <div class="ctrlHolder">
          <label for=""><em>*</em> API Course ID</label>
          <input name="api_course_id"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.api_course_id %>" type="text" class="saveable textInput small"/>
          <p class="formHint">E.G. 1987654</p>
        </div>

        <div class="ctrlHolder">
          <label for=""><em>*</em> Mobile Domain</label>
          <input name="mobile_domain"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.mobile_domain %>" type="text" class="saveable textInput medium"/>
          <p class="formHint">http://m.golfcourse.com/</p>
        </div>


        <div class="ctrlHolder">
          <label for=""><em>*</em> Web Domain</label>
          <input name="web_domain"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.web_domain %>" type="text" class="saveable textInput medium"/>
          <p class="formHint">http://www.golfcourse.com/</p>
        </div>
		</div>
      </fieldset>

      <fieldset class="inlineLabels" id='teetimes' style='display:none'>
		<div class='tab_holder'>
			<div class='tabber tabactive' show="#booking_settings"  id='pricing_settings_tab'>Booking</div>
			<div class='tabber tabinactive' show="#pricing_settings"  id='pricing_settings_tab'>Pricing</div>
			<div class='tabber tabinactive' show="#deals_center"  id='deals_center_tab'>Run Deal</div>
			<div class='tabber tabinactive' show="#calendar_box"  id='calendar_settings_tab'>Calendar</div>
		</div>

		<div id='booking_settings' class='tab_content'>
			<div class="ctrlHolder">
	          <p class="label">
					Booking Via
	          </p>
	          <ul class="alternate">
				<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> iPhone App</label></li>
				<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Android App</label></li>
				<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Mobile Web</label></li>
				<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Facebook Widget</label></li>
				<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Website Widget</label></li>
				</ul>	        
			</div>
			<div class="ctrlHolder">
	          <label for=""><em>*</em> Advanced Booking </label>
	          <label for="">
				<input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Allow (<span id='a_days'></span> Days)	<div class='specialInput'>
	          <div id="slider" style='width:400px;margin-top:12px'></div></div>
				</label>
				
	        </div>
			<div class="ctrlHolder">
	          <label for=""><em>*</em> Booking Contact </label>
	          <input name="web_domain"  data-default-value="booking@golfcourse.com" size="35" maxlength="50" value="<%= @course_info["booking_contact"] %>" type="text" class="saveable textInput medium"/>
	          <p class="formHint">http://www.golfcourse.com/</p>
	        </div>
			<div class="ctrlHolder">
	          <label for=""><em>*</em> Payment </label>
	          <select name="api"  class="saveable selectInput">
	            <option value="course" >Collect at Course</option>
				<option value="card" >Require Credit Card</option>
				<option value="other" >Other</option>
	          </select>
	          <p class="formHint">http://www.golfcourse.com/</p>
	        </div>
		</div>
		<div id='pricing_settings'  class='tab_content' style='display:none'>

        <div class="ctrlHolder">
          <p class="label">
            <em>*</em> Public Pricing
          </p>
          <ul class="alternate">
            <li><label for="">Weekday 
				<% @course_matrix['split'].each_with_index do |t,i| %>
				<select id="" name="price_until"><option data-default-value="Placeholder text">Price Until ..</option>
					<option value="10" <% if t==10 %>SELECTED<%end%> >10 AM</option>
					<option value="11" <% if t==11 %>SELECTED<%end%> >11 AM</option>
					<option value="12" <% if t==12 %>SELECTED<%end%> >12 PM</option>
					<option value="13" <% if t==13 %>SELECTED<%end%> >1 PM</option>
					<option value="14" <% if t==14 %>SELECTED<%end%> >2 PM</option>
					<option value="15" <% if t==15 %>SELECTED<%end%> >3 PM</option>
					<option value="16" <% if t==16 %>SELECTED<%end%> >4 PM</option>
					<option value="17" <% if t==17 %>SELECTED<%end%> >5 PM</option>
					<option value="18" <% if t>17 %>SELECTED<%end%> >Until Close</option>
				</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['public']['weekday'][i] %>" id="" name="" class="textInput"/>
				<% end %>
				<select id="" name="price_until"><option SELECTED data-default-value="Placeholder text">Until Close</option>
					</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['public']['weekday'][-1] %>" id="" name="" class="textInput"/>
			</label>
			
			
			</li>
            <li><label for="">Weekend & Holiday 
					<% @course_matrix['split'].each_with_index do |t,i| %>
					<select id="" name="price"><option data-default-value="Placeholder text">Price Until ..</option>
						<option <% if t==10 %>SELECTED<%end%> >10 AM</option>
						<option <% if t==11 %>SELECTED<%end%> >11 AM</option>
						<option <% if t==12 %>SELECTED<%end%> >12 PM</option>
						<option <% if t==13 %>SELECTED<%end%> >1 PM</option>
						<option <% if t==14 %>SELECTED<%end%> >2 PM</option>
						<option <% if t==15 %>SELECTED<%end%> >3 PM</option>
						<option <% if t==16 %>SELECTED<%end%> >4 PM</option>
						<option <% if t==17 %>SELECTED<%end%> >5 PM</option>
						<option <% if t>17 %>SELECTED<%end%> >Until Close</option>
					</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['public']['weekend'][i] %>" id="" name="" class="textInput"/>
					<% end %>
					<select id="" name="price"><option SELECTED data-default-value="Placeholder text">Until Close</option>
						</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['public']['weekend'][-1] %>" id="" name="" class="textInput"/></label></li>
            
          </ul>
          <p class="formHint"><input type='checkbox' value='dynamic' /> Enable Dynamic Pricing</p>
        </div>

        <div class="ctrlHolder">
          <p class="label">
            <em>*</em> Member Pricing
          </p>
          <ul class="alternate">
            <li><label for="">Weekday 
				<% @course_matrix['split'].each_with_index do |t,i| %>
				<select id="" name="price"><option data-default-value="Placeholder text">Price Until ..</option>
					<option <% if t==10 %>SELECTED<%end%> >10 AM</option>
					<option <% if t==11 %>SELECTED<%end%> >11 AM</option>
					<option <% if t==12 %>SELECTED<%end%> >12 PM</option>
					<option <% if t==13 %>SELECTED<%end%> >1 PM</option>
					<option <% if t==14 %>SELECTED<%end%> >2 PM</option>
					<option <% if t==15 %>SELECTED<%end%> >3 PM</option>
					<option <% if t==16 %>SELECTED<%end%> >4 PM</option>
					<option <% if t==17 %>SELECTED<%end%> >5 PM</option>
					<option <% if t>17 %>SELECTED<%end%> >Until Close</option>
				</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['member']['weekday'][i] %>" id="" name="" class="textInput"/>
				<% end %>
				<select id="" name="price"><option SELECTED data-default-value="Placeholder text">Until Close</option>
					</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['member']['weekday'][-1] %>" id="" name="" class="textInput"/>
			</label>
			
			
			</li>
            <li><label for="">Weekend & Holiday 
					<% @course_matrix['split'].each_with_index do |t,i| %>
					<select id="" name="price"><option data-default-value="Placeholder text">Price Until ..</option>
						<option <% if t==10 %>SELECTED<%end%> >10 AM</option>
						<option <% if t==11 %>SELECTED<%end%> >11 AM</option>
						<option <% if t==12 %>SELECTED<%end%> >12 PM</option>
						<option <% if t==13 %>SELECTED<%end%> >1 PM</option>
						<option <% if t==14 %>SELECTED<%end%> >2 PM</option>
						<option <% if t==15 %>SELECTED<%end%> >3 PM</option>
						<option <% if t==16 %>SELECTED<%end%> >4 PM</option>
						<option <% if t==17 %>SELECTED<%end%> >5 PM</option>
						<option <% if t>17 %>SELECTED<%end%> >Until Close</option>
					</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['member']['weekend'][i] %>" id="" name="" class="textInput"/>
					<% end %>
					<select id="" name="price"><option SELECTED data-default-value="Placeholder text">Until Close</option>
						</select>  <b style='font-size:12pt'>$</b><input style='width:120px;display:inline' type="text" value="<%= @course_matrix['member']['weekend'][-1] %>" id="" name="" class="textInput"/></label></li>
            
          </ul>
          <p class="formHint"><input type='checkbox' value='dynamic' /> Enable Dynamic Pricing</p>
        </div>
		</div>
		
		
		
		<div id='deals_center' style='display:none' class='tab_content'>


	
	
	

        <div class="ctrlHolder">
          <p class="label">
				Channels
          </p>
          <ul class="alternate">
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Global</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> iPhone</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> iPad</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Android</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Facebook</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Email</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Website</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Twitter</label></li>
			</ul>
		</div>
		<div class="ctrlHolder">
          <p class="label">
				User Tags
          </p>
          <ul class="alternate">
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Everyone</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Regulars</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Members</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> New Users</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Males</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Females</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Seniors</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Juniors</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> <a >+ new tag</a></label></li>
			</ul>
		</div>
		
		<div class="ctrlHolder">
          <label for="">Deal Type</label>
          <select name="deal_type"  id='deal_type_select' class="selectInput">
            <option value="fcfs">First Come First Served</option>
			<option value="groupon">Group Coupon</option>
			<option value="combo">Combo Deal</option>
			<option value="reward">Loyalty Reward</option>
			<option value="custom">Custom</option>
			<option value="single">Single Tee Time</option>
          </select>
        </div>

		<div class="ctrlHolder fcfs deal_specs " >
          <p class="label">
				Deal Specifics
          </p>
          <ul class="alternate">
			<li><label for=""> Deals Available<input id="" name="" data-default-value="10" class="textInput large"  type="text"/></label></li>
			<li><label for=""> Price / Golfer<input id="" name="" data-default-value="30" class="textInput large"  type="text"/></label></li>
			<li style='margin-bottom:12px'><label for=""> Tee Times<select name="deal_type"  class="selectInput">
            <option value="fcfs"> Until 2 PM</option>
			<option value="reward">2-4 PM</option>
			<option value="groupon">After 4 PM</option>
          </select></label></li>
		<li><label for=""> Start Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> End Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> Days of Week
			<div style='padding-top:3px'><input id="" name="" type="checkbox"/>M <input id="" name="" type="checkbox"/>Tu <input id="" name="" type="checkbox"/>W <input id="" name="" type="checkbox"/>Th <input id="" name="" type="checkbox"/>F <br><input id="" name="" type="checkbox"/>Sa <input id="" name="" type="checkbox"/>Su <input id="" name="" type="checkbox"/>Holidays</div>
			</label></li>


			
			</ul>
        </div>

		<div class="ctrlHolder groupon deal_specs" style='display:none' >
          <p class="label">
				Deal Specifics
          </p>
          <ul class="alternate">
			<li><label for=""> Group Size<input id="" name="" data-default-value="10" class="textInput large"  type="text"/></label></li>
			<li><label for=""> Price / Golfer<input id="" name="" data-default-value="30" class="textInput large"  type="text"/></label></li>
			<li style='margin-bottom:12px'><label for=""> Tee Times<select name="deal_type"  class="selectInput">
            <option value="fcfs"> Until 2 PM</option>
			<option value="reward">2-4 PM</option>
			<option value="groupon">After 4 PM</option>
          </select></label></li>
		<li><label for=""> Start Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> End Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> Days of Week
			<div style='padding-top:3px'><input id="" name="" type="checkbox"/>M <input id="" name="" type="checkbox"/>Tu <input id="" name="" type="checkbox"/>W <input id="" name="" type="checkbox"/>Th <input id="" name="" type="checkbox"/>F <br><input id="" name="" type="checkbox"/>Sa <input id="" name="" type="checkbox"/>Su <input id="" name="" type="checkbox"/>Holidays</div>
			</label></li>


			
			</ul>
        </div>

		<div class="ctrlHolder single deal_specs" style='display:none' >
          <p class="label">
				Deal Specifics
          </p>
          <ul class="alternate">
			<li><label for=""> Price / Golfer<input id="" name="" data-default-value="" class="textInput large"  type="text"/></label></li>
			<li><label for=""> Book Singles ?
				<select name="allow_singles"  class="selectInput">
	            <option value="no"> No 2-4 Only</option>
				<option value="yes">Allow Singles</option>
	          </select></label></li>

		
		<li><label for=""> Tee Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> Tee Time
			
			<select name="teetime"  class="selectInput">
            <option value=""> Select Date First.. </option>
          </select>
			
			</label></li>



			
			</ul>
        </div>

		
		
        <div class="ctrlHolder">
          <label for="">Message</label>
          <textarea name="" id="" rows="5" style='height:60px' cols="25"></textarea>
        </div>



		</div>
		
		
		
		
		<div id='calendar_box' class='tab_content' style='display:none;padding-top:12px'>
			
			<div id='calendar'></div>
		</div>

      </fieldset>

      <fieldset class="inlineLabels" id='deals' style='display:none'>
	
		<div class='tab_holder'>
			<div class='tabber tabactive' show="#new_deal_content" id='new_deal_tab'>New Message</div>
			<div class='tabber tabinactive' show="#past_deal_content"  id='past_deal_tab'>Past Messages</div>
			<div class='tabber tabinactive' show="#past_deal_content"  id='automation_tab'>Automation</div>
			<div class='tabber tabinactive' show="#past_deal_content"  id='users_tab'>Manage Users</div>
		</div>
		<div id='new_deal_content' class='tab_content'>


	
	
	

        <div class="ctrlHolder">
          <p class="label">
				Channels
          </p>
          <ul class="alternate">
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Global</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> iPhone</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> iPad</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Android</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Facebook</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Email</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Website</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Twitter</label></li>
			</ul>
		</div>
		<div class="ctrlHolder">
          <p class="label">
				User Tags
          </p>
          <ul class="alternate">
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" CHECKED type="checkbox"/> Everyone</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Regulars</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Members</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> New Users</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Males</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Females</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Seniors</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> Juniors</label></li>
			<li><label for=""><input id="" name="" data-default-value="Placeholder text" type="checkbox"/> <a >+ new tag</a></label></li>
			</ul>
		</div>
		
		<div class="ctrlHolder">
          <label for="">Deal Type</label>
          <select name="deal_type"  id='deal_type_select' class="selectInput">
            <option value="fcfs">First Come First Served</option>
			<option value="groupon">Group Coupon</option>
			<option value="combo">Combo Deal</option>
			<option value="reward">Loyalty Reward</option>
			<option value="custom">Custom</option>
			<option value="single">Single Tee Time</option>
          </select>
        </div>

		<div class="ctrlHolder fcfs deal_specs " >
          <p class="label">
				Deal Specifics
          </p>
          <ul class="alternate">
			<li><label for=""> Deals Available<input id="" name="" data-default-value="10" class="textInput large"  type="text"/></label></li>
			<li><label for=""> Price / Golfer<input id="" name="" data-default-value="30" class="textInput large"  type="text"/></label></li>
			<li style='margin-bottom:12px'><label for=""> Tee Times<select name="deal_type"  class="selectInput">
            <option value="fcfs"> Until 2 PM</option>
			<option value="reward">2-4 PM</option>
			<option value="groupon">After 4 PM</option>
          </select></label></li>
		<li><label for=""> Start Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> End Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> Days of Week
			<div style='padding-top:3px'><input id="" name="" type="checkbox"/>M <input id="" name="" type="checkbox"/>Tu <input id="" name="" type="checkbox"/>W <input id="" name="" type="checkbox"/>Th <input id="" name="" type="checkbox"/>F <br><input id="" name="" type="checkbox"/>Sa <input id="" name="" type="checkbox"/>Su <input id="" name="" type="checkbox"/>Holidays</div>
			</label></li>


			
			</ul>
        </div>

		<div class="ctrlHolder groupon deal_specs" style='display:none' >
          <p class="label">
				Deal Specifics
          </p>
          <ul class="alternate">
			<li><label for=""> Group Size<input id="" name="" data-default-value="10" class="textInput large"  type="text"/></label></li>
			<li><label for=""> Price / Golfer<input id="" name="" data-default-value="30" class="textInput large"  type="text"/></label></li>
			<li style='margin-bottom:12px'><label for=""> Tee Times<select name="deal_type"  class="selectInput">
            <option value="fcfs"> Until 2 PM</option>
			<option value="reward">2-4 PM</option>
			<option value="groupon">After 4 PM</option>
          </select></label></li>
		<li><label for=""> Start Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> End Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> Days of Week
			<div style='padding-top:3px'><input id="" name="" type="checkbox"/>M <input id="" name="" type="checkbox"/>Tu <input id="" name="" type="checkbox"/>W <input id="" name="" type="checkbox"/>Th <input id="" name="" type="checkbox"/>F <br><input id="" name="" type="checkbox"/>Sa <input id="" name="" type="checkbox"/>Su <input id="" name="" type="checkbox"/>Holidays</div>
			</label></li>


			
			</ul>
        </div>

		<div class="ctrlHolder single deal_specs" style='display:none' >
          <p class="label">
				Deal Specifics
          </p>
          <ul class="alternate">
			<li><label for=""> Price / Golfer<input id="" name="" data-default-value="" class="textInput large"  type="text"/></label></li>
			<li><label for=""> Book Singles ?
				<select name="allow_singles"  class="selectInput">
	            <option value="no"> No 2-4 Only</option>
				<option value="yes">Allow Singles</option>
	          </select></label></li>

		
		<li><label for=""> Tee Date<input id="" name="" data-default-value="" class="textInput large datepick"  type="text"/></label></li>
		<li><label for=""> Tee Time
			
			<select name="teetime"  class="selectInput">
            <option value=""> Select Date First.. </option>
          </select>
			
			</label></li>



			
			</ul>
        </div>

		
		
        <div class="ctrlHolder">
          <label for="">Message</label>
          <textarea name="" id="" rows="5" style='height:60px' cols="25"></textarea>
        </div>



		</div>
		
		
		<div id='past_deal_content' style='display:none' class='tab_content'>
	        <div class="ctrlHolder">
	          <label for=""><em>*</em> Mobile Domain</label>
	          <input name="api_course_id"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.mobile_domain %>" type="text" class="textInput medium"/>
	          <p class="formHint">http://m.golfcourse.com/</p>
	        </div>


	        <div class="ctrlHolder">
	          <label for=""><em>*</em> Web Domain</label>
	          <input name="api_course_id"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.web_domain %>" type="text" class="textInput medium"/>
	          <p class="formHint">http://www.golfcourse.com/</p>
	        </div>
		</div>

      </fieldset>

      <fieldset class="inlineLabels" id='analytics' style='display:none'>
		<div class='tab_holder'>
			<div class='tabber tabactive' show="#new_deal_content" id='new_deal_tab'>User Base</div>
			<div class='tabber tabinactive' show="#past_deal_content"  id='automation_tab'>Bookings</div>
			<div class='tabber tabinactive' show="#past_deal_content"  id='past_deal_tab'>Deal Conversion</div>
		</div>
	
		<div id='past_deal_content' style='display:none' class='tab_content'>
	        <div class="ctrlHolder">
	          <label for=""><em>*</em> Mobile Domain</label>
	          <input name="api_course_id"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.mobile_domain %>" type="text" class="textInput medium"/>
	          <p class="formHint">http://m.golfcourse.com/</p>
	        </div>


	        <div class="ctrlHolder">
	          <label for=""><em>*</em> Web Domain</label>
	          <input name="api_course_id"  data-default-value="Some Golf Course Name" size="35" maxlength="50" value="<%= @course.web_domain %>" type="text" class="textInput medium"/>
	          <p class="formHint">http://www.golfcourse.com/</p>
	        </div>
		</div>
		</fieldset>
		
		<fieldset class="inlineLabels" id='managers' style='display:none'>
		<div class='tab_holder'>
			<div  style='float:right;border:0px'><input type="button" style='padding-bottom:3px' onclick="$('#new_manager_form').show();" value="+ Manager" /></div>
			<div class='tabber tabactive' show="#manager_view" id='manager_view_tab'>Managers</div>
			<div class='tabber tabinactive' show="#manager_inbox"  id='manager_inbox_tab'>Inbox</div>
			<div class='tabber tabinactive' show="#manager_log"  id='manager_log_tab'>Activity Log</div>
		</div>

		<div id='manager_view'  class='tab_content'>
			<div class="ctrlHolder" style='background:#d8d8d8;display:none' id='new_manager_form'>
	          <label for=""><em>*</em> 
				<select name="manager_type"  class="selectInput">
	            <option value="owner"> Owner</option>
				<option value="admin">Admin</option>
	          </select>
		</label>
		<input name="api_course_id" id='new_manager_input' data-default-value="futuremanager@golfcourse.com" size="35" maxlength="50" value="" type="text" class="textInput medium"/><input type='button' value="invite" onclick="add_manager();" />
	          
	          	
	        </div>
			<% @course_info["managers"].each do |m| %>
			<% mm = Manager.find_by_email(m) %>
	        <div class="ctrlHolder">
	          <label for=""><em>*</em> <%=mm.email%></label>
	          
	          	<select name="manager_type"  class="selectInput">
	            <option value="owner"> Owner</option>
				<option value="admin">Admin</option>
	          </select>
	        </div>
			<% end %>


		</div>
		</fieldset>




      <div class="buttonHolder">
        <button type="submit" class="secondaryAction">Cancel</button>
        <button onclick="do_form_action();" type="button" class="primaryAction">Save Changes</button>
      </div>

    </form>
</div>

    <div class="browse">
      <ul class='browser'>
        <li class='active browser' which='#info'><a class='browser'  >Course</a> </li>
        <li class='browser' which='#teetimes'><a  >Tee Times</a> </li>
        <li class='browser' which='#deals'><a >Users</a></li>
		<li class='browser' which='#analytics'><a >Analytics</a></li>
		<li class='browser' which='#managers'><a >Managers</a></li>
      </ul>
    </div>

    <div id="footer">
      <p></p>
    </div>

  </body>
</html>