<script type='text/javascript'>
app.course_id = "<%= @app.course.id %>";
app.golfers = "<%= @app.golfers %>";
app.email = "<%= @app.get_user_email %>";
app.date = "<%= @app.date %>";
app.timer = "<%= @app.time %>";
app.total = "<%= @app.total %>";
app.first_name = "<%= @app.get_user_fname %>";
app.last_name = "<%= @app.get_user_lname %>";
app.email = "<%= @app.get_user_email %>";
</script>
<div data-position="fixed" data-role="header" data-tap-toggle="false" data-id="header_top">
	<h1><%= @app.course_info['title'] %></h1>
</div><!-- /header -->