<script type='text/javascript'>
app.course_id = "<%= @app.course.id %>";
app.golfers = "<%= @app.golfers %>";
app.date = "<%= @app.date %>";
app.timer = "<%= @app.time %>";
app.total = "<%= @app.total %>";
app.first_name = "<%= @app.get_user_fname %>";
app.last_name = "<%= @app.get_user_lname %>";
app.contact_via = "<%= @app.get_user_contact_via %>";
app.contact = "<%= @app.get_user_contact %>";
function more_days_scroller(){
	if(!is_xui){
		$(window).unbind("scroll").scroll(function() {
		   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		       $.get( "<%= @app.get_url('more_days',{:last=>@app.d[6]}) %>",function(data){
					$('#more_days').before(data);
				})
		   }
		});
	}else{
		x$('a').each(function(element, index, xui) {
			
			if(x$(this).attr("no_script")!="true"){
				x$(element).attr("onclick","get_page('"+x$(this).attr("href")+"')").attr("href","#"+x$(this).attr("href")).attr("no_script","true");
			}
		    
		});
	}
}

</script>
<div data-position="fixed" data-role="header" class='topheader' data-tap-toggle="false" data-id="header_top">
	<% if @app.params[:action] == 'time' %>
		<a href="<%= @app.get_url('time',{:date=>@app.prev_date}) %>" data-transition="reverse slide" data-icon="arrow-l" data-iconpos="notext"></a>
		<h1 ><%= @app.date %></h1>
		<a href="<%= @app.get_url('time',{:date=>@app.next_date}) %>" data-icon="arrow-r" data-iconpos="notext" data-theme="b"></a>
	<% else %>
		<h1 style="white-space: normal"><%= @app.course_info['title_short'] %> Golf Course</h1>
	<% end %>
</div><!-- /header -->
<div class='temp_booking' >
	<a href=""><img src="<%= @app.course_info['logo'] %>" style="width:90px;height:130px;float:left;margin:8px;margin-left:2px" /></a>
	<div class='title' style='padding-top:66px;font-size:18px'>
	<b><%= @app.course_info['title'] %></b>
	<div style='margin-top:-2px'>
		<span style='font-size:14px;color:#555'><%= @app.course_info['address']['city'] %>, <%= @app.course_info['address']['state'] %></span>
	</div>

	<div style='margin-top:3px;border-top:1px solid gray;font-weight:normal;font-size:14px;padding-top:4px'>
		<b style='color:green'>Booking #</b>: <span id='confirm_waiting'>Awaiting Confirmation .. </span>
	</div>



	</div>
	<div style='clear:both;height:4px'></div>

	<div style='margin-top:12px'>
		Customer: <span class='cfname'></span> <span class='clname'></span> (<span class='ccontact'></span>)<br>
		For : <span class='cgolfers'></span> On: <span class='cdate'></span> At: <span class='ctime'></span>
	</div>

	<a data-role="button" data-icon="delete" href='/device_communication/cancel_reservation?course_id=<%=@app.course.id.to_s%>&confirmation_code='>Cancel Reservation</a>

</div>