<script type='text/javascript'>
app.course_id = "<%= @app.course.id %>";
app.golfers = "<%= @app.golfers %>";
app.email = "<%= @app.get_user_email %>";
app.date = "<%= @app.date %>";
app.timer = "<%= @app.time %>";
app.total = "<%= @app.total %>";
app.first_name = "<%= @app.get_user_fname %>";
app.last_name = "<%= @app.get_user_lname %>";
app.email = "<%= @app.get_user_email %>";
</script>
<div data-position="fixed" data-role="header" data-tap-toggle="false" data-id="header_top">
	<% if @app.params[:action] == 'date' %>
	<a href="<%= @app.get_url('date',{:date=>@app.prev_date}) %>" data-icon="arrow-l" data-iconpos="notext"></a>
		<h1><%= @app.date %></h1>
		<a href="<%= @app.get_url('date',{:date=>@app.next_date}) %>" data-icon="arrow-r" data-iconpos="notext" data-theme="b"></a>
	<% else %>
		<h1><%= @app.course_info['title'] %></h1>
	<% end %>
</div><!-- /header -->