<div data-role="page" data-theme="a" class='page' data-cache="never">

	<%= render :partial => "header", :locals => { :app => @app } %>
	  <div class="content">


		<ul>

			<!--##########################################-->
			<!--Number of Golfers-->
			<!--##########################################-->

			<li>				
		  		<a href="<%= @app.get_url('num',{}) %>" ><%= image_tag "iphone/icons/Icon_3.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %><span class="title"><%= @app.golfers %> Golfers</span><span class="disclosure_indicator"/></a>
		  	</li>


			<!--##########################################-->
			<!--Date Picker-->
			<!--##########################################-->

			<li>
		  		<a href="<%= @app.get_url('date',{}) %>" id="datePicker" ><%= image_tag "iphone/icons/Icon_2.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %>
		    		<span class="title">&nbsp;
						<div id="wrapper2">
					      <div id="wrapper3">
					        <div id="day"><%= Time.parse(@app.date).strftime('%a').upcase %></div>
					        <div id="clear"></div>
					        <div id="month"><%= Time.parse(@app.date).strftime('%b').upcase %></div>
					      </div>
					      <div id="date"><%= Time.parse(@app.date).strftime('%d') %></div>
					    </div>
		    		</span>
		    		<span class="disclosure_indicator"/>
				</a>
		  	</li>

			<!--##########################################-->
			<!--Tee Time-->
			<!--##########################################-->

			<% if @app.time == nil or @app.time == ""  %>
		    	<li>
		    		<a href="<%= @app.get_url('time',{}) %>" ><%= image_tag "iphone/icons/Icon_1.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %><span class="title">Tee Time</span><span class="disclosure_indicator"/></a>
		    	</li>
		  	<% else %>
		    	<li>
					<a href="<%= @app.get_url('time',{}) %>" ><%= image_tag "iphone/icons/Icon_1.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %><span class="title"><%= @app.time12 %> <%= @app.ampm %></span><span class="disclosure_indicator"/></a>
		    	</li>
		  	<%end%>

			<!--##########################################-->
			<!--style='margin:8px;margin-top:12px;border-radius:6px;width: 86%; ' --> 
			<!--##########################################-->
			<center>
		  	<% if @app.time == nil or @app.time == "" %>
					<a href='javascript:callNoTeeTimeSelected()'  class='book_button'>Book Tee Time</a>
		  	<% else%>
		    	<% if @app.user == nil or !@app.user %>
	`				<a href='<%= @app.get_url('login',{}) %>'  class='book_button'>Book Tee Time</a>
		    	<% else %>
					<a href='javascript:confirmTime()'   class='book_button'>Book Tee Time</a>
				<% end %>
		  	<% end %>
			</center>
		</ul>

	  </div>			


	<%= render :partial => "footer", :locals => { :app => @app } %>
</div><!-- /page -->
