<!DOCTYPE html> 
<html> 
	<head> 
	<title>Deep Cliff Golf Course</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="/images/aboutus.png"/>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />

	
	
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	
	
    <script type="text/javascript">    
	var details_open = false;
	function slideDown(){
		if(!details_open){
			$('#pricing_details').slideDown();
			details_open = true;
		}else{
			$('#pricing_details').slideUp();
			details_open = false;
		}

	}
	var gallery = [];
	var i_counter = 0;
	var g1 = 0;
	var g2 = 1;
	var gflip = true;
	 <% @app.course_info['gallery'].each do |i| %>
	gallery.push("<%= i %>");
	<% end %>
	/*
	{% for i in app.dtemplate.gallery %}
	gallery.push("{{i}}");
	{% endfor %}
	$('#gbox').css("backgroundImage","url("+gallery[g1]+")");

	setTimeout("gflipIn()",4000);
	*/

    //$.mobile.pageLoading( true );

	$(document).bind("mobileinit", function(){
	  $.mobile.loadingMessage = false;

		$.extend($.mobile, {
		metaViewportContent: "width=device-width, height=device-height, minimum-scale=1, maximum-scale=1"
		});
		
		$.mobile.fixedToolbars.setTouchToggleEnabled(false);
		
		if(navigator.userAgent.match(/webOS/i) ||
		 navigator.userAgent.match(/BlackBerry/)
		 ){
		 $.mobile.defaultPageTransition = "none";
		}else if( navigator.userAgent.match(/Android/i) ){
			$.mobile.defaultPageTransition = "fade";
		}else{
			$.mobile.defaultPageTransition = "slide";
		}

	});

	var gallery_not_started = true;
	$( document ).bind( "pagechange", function( event, data ){
		if (($("#gbox").length > 0) && gallery_not_started){
		  	$('#gbox').css("backgroundImage","url("+gallery[g1]+")");
			setTimeout("gflipIn()",4000);
			gallery_not_started = false;
		}
	});

	function callUserSignIn(){
		alert("Hello New User");
	}
	function changePage(where){
		$.mobile.changePage(where, {transition: 'slide', showLoadMsg:false});
	}
	function callNoTeeTimeSelected(){
		alert("Please select a Tee Time first!");
	}
	function gflipIn(){
		g1 += 2;
		g2 += 2;
		$('#gboxi').fadeIn(1500,function(){
			//showing 7
			if(g1>(gallery.length-1)){
				if(gflip){
					g1 = 0;
				}else{
					g1 = 1;
				}
			}
			$('#gbox').css("backgroundImage","url("+gallery[g1]+")");
			setTimeout("gflipOut()",2500);

		});
	}
	function gflipOut(){
		$('#gboxi').fadeOut(1500,function(){
			//showing 8
			if(g2>(gallery.length-1)){
					if(gflip){
						g2 = 1;
						gflip = false;
					}else{
						g2 = 0;
						gflip = true;
					}
			}

			$('#gboxi').attr("src",gallery[g2]);

			setTimeout("gflipIn()",2500);
		});
	}
	
	function submitform(){
	    var first_name = $('#first_name').val();
		var last_name  = $('#last_name').val();
		var email_address = $('#email_address').val();
		app.first_name=$('#first_name').val();
		app.last_name=$('#last_name').val();
		app.email = $('#email_address').val();
		$.post("/device_communication/login",{
			"f_name":first_name,
			"l_name":last_name,
			"email":email_address,
			"device_name":"iphone",
			"redirect":"true",
			"os_version":"4.0",
			"app_version":"web"},function(data){
				confirmTime();
			
		})
	}
	var app =new Object();

	
	
	function confirmTime(){
		var confirm_time = confirm(app.first_name+" "+app.last_name+" ("+app.email+") \nFor "+app.golfers+" golfers on "+app.date+" at "+app.timer+"\n------------\n$"+app.total+" (due at course)");
		if(confirm_time==true){
			reserveTime()
		}else{
			
		}
	}
	function reserveTime(){
		$.post("/device_communication/book_reservation",{
			"course_id":app.course_id,
			"golfers":app.golfers,
			"email":app.email,
			"date":app.date,
			"time":app.timer,
			"total":app.total},function(data){
				$.mobile.changePage("/mobile/reservations?course_id=1");
			
		});
	}

    </script>
	<script type='text/javascript'>

	</script>
	<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<%= stylesheet_link_tag "iphone" %>
	<style type='text/css'>
	    .ui-page {
	        -webkit-backface-visibility: hidden;
	    } 
	.content{
		text-shadow:0px 0px 0px !important;
	}
	.ui-page { outline: none; }
	</style>
	<style type='text/css'>

	div.box{
		background-color:#fff;
		border-radius:12px;
		border:1px solid #ddd;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		text-align:left;
		margin:10px;
		margin-bottom:0px;
		text-shadow:0px 0px 0px !important;
		color:#333 !important;
	}


	div.last{
		margin-bottom:10px;
	}
	div.pad{
		padding:12px;
	}
	div.container{
		padding:0px;
	}
	.ui-content{
		padding:0px !important;
			text-shadow:0px 0px 0px !important;
	}
	div.content{
			text-shadow:0px 0px 0px !important;
	}
	div.title{
		margin-left:100px;
		margin-top:18px;
	}
	div#gbox{
		height:120px;
		background-image:url('/imgages/holes/hole1.png') no-repeat center center fixed; 
		        -webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		top:0px;
		width:100%;
	}
	img#gboxi{
		width:100%;
		height:100%;
		display:none;

	}
	div.boxes{
		position: relative;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 100%;
		top: -80px;
		z-index: 99;
	}
	div#topbox{

			background: rgb(255, 255, 255);
			background: rgba(255, 255, 255, 0);
			border:1px transparent;



	}
	</style>

</head> 
<body> 

<div data-role="page" class='type-interior'>

	<%= render :partial => "header", :locals => { :app => @app } %>
	  <div class="content">


		<ul>

			<!--##########################################-->
			<!--Number of Golfers-->
			<!--##########################################-->

			<li>				
		  		<a href="<%= @app.get_url('num',{}) %>" ><%= image_tag "iphone/icons/Icon_3.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %><span class="title"><%= @app.golfers %> Golfers</span><span class="disclosure_indicator"/></a>
		  	</li>


			<!--##########################################-->
			<!--Date Picker-->
			<!--##########################################-->

			<li>
		  		<a href="<%= @app.get_url('date',{}) %>" id="datePicker" ><%= image_tag "iphone/icons/Icon_2.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %>
		    		<span class="title">&nbsp;
						<div id="wrapper2">
					      <div id="wrapper3">
					        <div id="day"><%= Time.parse(@app.date).strftime('%a').upcase %></div>
					        <div id="clear"></div>
					        <div id="month"><%= Time.parse(@app.date).strftime('%b').upcase %></div>
					      </div>
					      <div id="date"><%= Time.parse(@app.date).strftime('%d') %></div>
					    </div>
		    		</span>
		    		<span class="disclosure_indicator"/>
				</a>
		  	</li>

			<!--##########################################-->
			<!--Tee Time-->
			<!--##########################################-->

			<% if @app.time == nil or @app.time == ""  %>
		    	<li>
		    		<a href="<%= @app.get_url('time',{}) %>" ><%= image_tag "iphone/icons/Icon_1.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %><span class="title">Tee Time</span><span class="disclosure_indicator"/></a>
		    	</li>
		  	<% else %>
		    	<li>
					<a href="<%= @app.get_url('time',{}) %>" ><%= image_tag "iphone/icons/Icon_1.png", :style=>"float:left;padding-top:10px;width:60px;height:60px" %><span class="title"><%= @app.time %> <%= @app.ampm %></span><span class="disclosure_indicator"/></a>
		    	</li>
		  	<%end%>

			<!--##########################################-->
			<!--Reserve Button-->
			<!--##########################################-->

		  	<% if @app.time == nil or @app.time == "" %>
		    	<center>
		    	<a href="javascript:callNoTeeTimeSelected()">	<%= image_tag "button.png",  :style=>"width: 300px; padding-top: 28px;" %></a>
		  	<% else%>
		    	<% if @app.user == nil or !@app.user %>
		      		<center>
	<!--
	                   <a href="javascript:callReserveTime()"><img border="0" width="300" style="padding-top:28px" src="/public/images/button.png"/></a>
	-->
		      		<a href="<%= @app.get_url('login',{}) %>"><%= image_tag "button.png",  :style=>"width: 300px; padding-top: 28px;" %></a>
		    	<% else %>
		      		<center>
	                   <a href="javascript:confirmTime()">	<%= image_tag "button.png",  :style=>"width: 300px; padding-top: 28px;" %></a>
		    	<% end %>
		  	<% end %>
		</ul>

	  </div>			


	<%= render :partial => "footer", :locals => { :app => @app } %>
</div><!-- /page -->

</body>
</html>