<div data-role="page" data-theme="a" data-cache="never">
  
  <div data-role="header" data-id="header_top" data-backbtn="true">
    <h1><%= @app.course.name %></h1>
    <a data-icon="back" data-transition="reverse slide" href="<%= @app.get_url('',{}) %>">Back</a>
  </div>
  <div class="content">

	<ul>
	  <% @app.times.each do |i| %>
	  	<% @time12hr = Time.parse(i['t']) %>
	    <% @timeview = @time12hr.strftime("%I:%M") %>
	    <% if i['q'].to_i > 1 %>
	      <li>
	      	<a href="<%= url_for :controller => :Product, :action => :booking, :query => {:timeview => @timeview, :price => i['p'], :time => i['t'], :date => @date, :num_range => i['q']} %>" data-transition="slide"><span class="title"><%=@timeview%></span><span class ="disclosure_indicator"></span></a>
	      	<img border="0" width="26px;" height="18px;" style="float:right;margin-top:-58px;padding:10px 40px 0 0;" src="<%= determine_num_bubble(i['t']) %>"/>
	      </li>
	    <% else %>
	      <li>
		  	<div style="min-height:80px;display:block;"><span class="title"><font color="#D8D8D8"><%=@timeview%></font></span></div>
	      </li>
	    <% end %>
	  <% end %>
  	</ul>
</div>