<div data-role="page" data-theme="a">

  <%= render :partial => "header", :locals => { :app => @app } %>

  <div class="content">
  		<div class='box' id='topbox'>
			<a href=""><img src="<%= @app.course_info['logo'] %>" style="width:90px;height:130px;float:left;margin:8px;margin-left:2px" /></a>
			<div class='title' style='padding-top:66px;font-size:18px'>
			<b><%= @app.course_info['title'] %></b>
			<div style='margin-top:-2px'>
				<span style='font-size:14px;color:#555'><%= @app.course_info['address']['city'] %>, <%= @app.course_info['address']['state'] %></span>
			</div>
			
			<div style='margin-top:3px;border-top:1px solid gray;font-weight:normal;font-size:14px;padding-top:4px'>
				<b style='color:green'>Booking #</b>: <%=@app.reservation.confirmation_code%>
			</div>
			
			
			
			</div>
			<div style='clear:both;height:4px'></div>
			
			<div style='margin-top:12px'>
				Customer: <%=@app.user.f_name%> <%=@app.user.l_name%> (<%=@app.user.email%>)<br>
				For : <%=@app.reservation.golfers%> On: <%=@app.reservation.date%> At: <%=@app.reservation.time%>
			</div>
			
			<a data-role="button" data-icon="delete" href='/device_communication/cancel_reservation?course_id=<%=@app.course.id.to_s%>&confirmation_code=<%=@app.reservation.confirmation_code%>'>Cancel Reservation</a>

		</div>
  </div>	
<%= render :partial => "footer", :locals => { :app => @app } %>

</div>
