<div data-role="page" data-theme="a">

  <%= render :partial => "header", :locals => { :app => @app } %>

  <div class="content">
  		<div class='box' id='topbox'>
			<a href=""><img src="<%= @app.course_info['logo'] %>" style="width:90px;height:130px;float:left;margin:8px;margin-left:2px" /></a>
			<div class='title' style='padding-top:66px;font-size:18px'>
				<b><%= @app.course_info['title'] %></b>
				<div style='margin-top:-2px'>
					<span style='font-size:14px;color:#555'><%= @app.course_info['address']['city'] %>, <%= @app.course_info['address']['state'] %></span>
				</div>

				<div style='margin-top:3px;border-top:1px solid gray;font-weight:normal;font-size:14px;padding-top:4px'>
					<b style='color:green'>Booking #</b>: <%=@app.reservation.confirmation_code%>
				</div>
			</div>
			
			<div style='clear:both;height:4px'></div>
			
			<div style='margin-top:12px'>
				<strong>Name: </strong> <%=@app.user.f_name%> <%=@app.user.l_name%> <br>
				<strong>Date: </strong><%=@app.reservation.date.to_date.strftime("%A, %B %e")%><br>
				<strong>Tee Time: </strong><%=Time.parse(@app.reservation.time).strftime("%I:%M %p")%><br>  
				<strong>Number of Golfers: </strong><%=@app.reservation.golfers%><br>
				<strong>Total Due at Course: </strong>$<%=@app.reservation.total%>.00
			</div>
			
			<% @code = @app.reservation.confirmation_code %>
			
			<a href="javascript:cancelTime('<%= @code %>');" class='cancel_button' style='margin:8px;margin-top:12px;border-radius:6px;'>Cancel Reservation</a>			
		</div>
 </div>	

 <%= render :partial => "footer", :locals => { :app => @app } %>

</div>